@font-face {
    font-family: Kimberly;
    src: url(/kimberley_bl.ttf);;
  }
  body {
    font-family: Kimberly;
}  
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
table {
    width: 100%;
  }
  td {
    text-align: center;
  }